header
{
  border:solid 3px black;
  background-color:teal
  
}
header>h1
{
  text-align:left;
  padding-left:20px;
  color:white
}

a
{
  text-decoration:none;
  color:yellow;
}
a:hover
{
  color:pink;
}
header
{
  text-align:center
}
h1
{
  text-align:center;
  padding-bottom:20px;
}
body {
    font-family: 'Actor';font-size: 22px;
}


h3
{
  text-align:center;
  width:110px;
  border: 2px solid black;
  padding:5px 5px 5px 5px;
  margin:10px 1px 1px 1px;
  color:white;
  position:relative;
  left:0px;
  top:0px;
  float:right;
  clear:left;
  top:-10px;
  border-right:none;
  border-top:none;
 
}
.row
{
  width:100%;
  text-align:center;
}
div
{
  border: 2px solid black;
  padding:0px 0px 0px 0px;
  margin:0px 5px 5px 5px;
  background-color:grey;
  font-size:15px;
}
#new1>h3
{
   background-color:pink;
}
#new2>h3
{
  background-color:brown;
}
#new3>h3
{
  background-color:blue;
}
@media (min-width:992px)
{
.col-lg-4
  {
    width:31.5%;
    float:left;
  }
  .dropdown-content,.dropbtn
  {
    display:none;
  }
}
@media (min-width:768px) and (max-width:991px)
{ section{display:grid;}
    #new1
    { grid-column:1;
      grid-row:1/span2;
     
     }
    #new2
    {
      grid-column:2;
    
      grid-row:1/span2;
    }
  #new3
  {
    grid-column:1/span 2;
    grid-row:2/span 4;
    height:100px;
  }
  .dropdown-content,.dropbtn
  {
    display:none;
  }
}
@media (max-width:765px)
{
  .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}